<div class="password-change">
  <button type="button" name="avatar" class="password-change__avatar"></button>
  <div class="password-change__warning"></div>

  <form name="form" action="" method="get" class="password-change__form">
    <div class="password-change__input_wrapper">
      <label for="oldPassword" class="password-change__description">
        Старый пароль
      </label>
      {{{Input
        name="oldPassword"
        type="password"
        class="password-change__input input"
        autocomplete="current-password"
        onFocus=onFocus
        onBlur=onBlur
      }}}
    </div>

    <div class="password-change__input_wrapper">
      <label for="newPassword" class="password-change__description">
        Новый пароль
      </label>
      {{{Input
        name="newPassword"
        type="password"
        class="password-change__input input"
        autocomplete="current-password"
        onFocus=onFocus
        onBlur=onBlur
      }}}
    </div>

    <div class="password-change__input_wrapper">
      <label for="newPassword_again" class="password-change__description">
        Новый пароль (повторно)
      </label>
      {{{Input
        name="newPassword_again"
        type="password"
        class="password-change__input input"
        autocomplete="current-password"
        onFocus=onFocus
        onBlur=onBlur
      }}}
    </div>
  </form>

  <div class="password-change__buttons-wrapper">
    {{{Link href="profile" class="button-link" text="Сохранить" onClick=save}}}
    {{{Link href="profile" class="button-link" text="Отмена" onClick=cancel}}}
  </div>
</div>
