<div class="password-change">
  <button type="button" name="avatar" class="password-change__avatar">
    <img src="{{avatar}}" alt="owner_avatar" />
  </button>

  <div class="password-change__warning warning"></div>

  <form class="password-change__form">
    {{! Скрытое поле. Добавлено в соответствии с рекомендациями браузера }}
    <input class="password-change__input_hidden" autocomplete="username" />

    <div class="password-change__wrapper_inputs">
      <div class="password-change__wrapper_input">
        <label for="oldPassword" class="password-change__description">
          Старый пароль
        </label>
        {{{Input
          name="oldPassword"
          type="password"
          class="password-change__input input"
          autocomplete="current-password"
          onFocus=focus
          onBlur=blur
        }}}
      </div>

      <div class="password-change__wrapper_input">
        <label for="newPassword" class="password-change__description">
          Новый пароль
        </label>
        {{{Input
          name="newPassword"
          type="password"
          class="password-change__input input"
          autocomplete="current-password"
          onFocus=focus
          onBlur=blur
        }}}
      </div>

      <div class="password-change__wrapper_input">
        <label for="newPassword_again" class="password-change__description">
          Новый пароль (повторно)
        </label>
        {{{Input
          name="newPassword_again"
          type="password"
          class="password-change__input input"
          autocomplete="current-password"
          onFocus=focus
          onBlur=blur
        }}}
      </div>
    </div>

    <div class="password-change__wrapper_buttons">
      {{{Button type="submit" value="Сохранить" onClick=save}}}
      {{{Button type="button" value="Вернуться назад" onClick=goBack}}}
    </div>
  </form>

  {{#Modal class="password-change__modal" isOpen=firstModalIsOpen}}
    <div>Пароль изменён</div>
  {{/Modal}}

</div>
